@model projetIntegrateur.Models.Locataire

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Locataire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomLocataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomLocataire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomLocataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomLocataire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailLocataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailLocataire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutBail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutBail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatCompteLocataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatCompteLocataire)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLocataire" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
