@model projetIntegrateur.Models.Piece

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Piece</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperficiePiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperficiePiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouleurPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouleurPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRenovation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRenovation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAppartementNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAppartementNavigation.IdAppartement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPiece">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
