@model projetIntegrateur.Models.Bloc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bloc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseBloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseBloc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbEtages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbEtages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contracteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contracteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeConstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeConstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageBloc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageBloc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBloc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
