@model projetIntegrateur.Models.Equipement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Equipement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategorieEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategorieEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FournisseurEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FournisseurEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarqueEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarqueEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAchatEquip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAchatEquip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinGarantieEquip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinGarantieEquip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPieceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPieceNavigation.CouleurPiece)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEquipement">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
