@model IEnumerable<projetIntegrateur.Models.Locataire>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomLocataire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomLocataire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailLocataire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebutBail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtatCompteLocataire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomLocataire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomLocataire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailLocataire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebutBail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatCompteLocataire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLocataire">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLocataire">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLocataire">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
