@model IEnumerable<projetIntegrateur.Models.Membre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomMembre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomMembre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailMembre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotPasseMembre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelMembre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotPasseMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelMembre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMembre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMembre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMembre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
