@model projetIntegrateur.Models.Partenaire

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Partenaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonctionPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonctionPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelPartenaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPartenaire">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
