@model IEnumerable<projetIntegrateur.Models.Partenaire>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPartenaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomPartenaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FonctionPartenaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailPartenaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelPartenaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPartenaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomPartenaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FonctionPartenaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPartenaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelPartenaire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartenaire">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartenaire">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartenaire">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
